<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:mecon-blocks/hero {"align":"full"} /-->

<!-- wp:group {"className":"mecon-main", "tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group mecon-main" style="margin-top:0;margin-bottom:0;padding-bottom:var(--wp--preset--spacing--60)">
    <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
